body {
  font-size: 16px;
  background-color: #9FCEC6;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
}

h1 {
  font-size: 5.0em;
  color: #CF3D23;
  font-family: 'Playfair Display';
  text-decoration: underline solid #CF3D23;
  text-shadow: 1px 1px 2px black;
}

.bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
    position: fixed;
}

.bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
}

.bs-docs-header {
    position: relative;
    padding: 30px 0;
    color: #D7DBD3;
    /*text-align: center;*/
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #D7DBD3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d75),to(#D7DBD3));
    background-image: -webkit-linear-gradient(top,#363d75 0,#D7DBD3 100%);
    background-image: -o-linear-gradient(top,#363d75 0,#D7DBD3 100%);
    background-image: linear-gradient(to bottom,#363d75 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

#progress-bar {
  margin: 35px auto;
  text-align: center;
  font-family: 'Playfair Display';
  color: #683667;
  text-decoration-style: double;
}

.container p {
  font-size: 1.2em;
  /*text-align: left;*/
}

a {
  color: blue;
  font-size: 1.0em;
}

.maintable {
  max-width: 65%;
  margin: 0 auto;
  font-size: 16px;
  /*background-color: #DBD9D3;*/
}

.table {
  border: 2px;
}

.liPosition {
  list-style-position: outside;
}

#mainHeader {
  /*text-align: center;*/
  font-size: 5.0em;
}

td:first-child {
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
}

thead tr {
  background-color: rgb(207, 185, 203);
}

tbody tr:nth-child(even){
  background-color: #E2DBE8;
  /*border: 2px solid black;*/
}

th {
  font-size: 1.5em;
  color: purple;
  font-family: 'Playfair Display';
  /*border: 2px solid black;*/
}
